<a href="https://colab.research.google.com/github/YK-Han1009/YK-Han1009/blob/main/coding_samples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1: Addition

# Coding examples

In [ ]:
number1 = 27
number2 = 35
sum = number1 + number2
print(sum)

62

In [ ]:
number = 3
x = 4
print (x * number)

12

In [ ]:
number = input ()
x = 4
print (x * number)

3
3333

In [9]:
k = "Python"
# [0] is how to access to the data using index
# number inside the bracket is called an index
# index starts from 0
print(k[0])
print(k[0:2])
print(k[-2:])
print(k[:])

P
Py
on
Python

# Function

In [10]:
# Copy and paste the above function and run it

def add_numbers(num1, num2):
    result = num1 + num2
    return result

In [17]:
add_numbers(13, 5)

18

## **"#@markdown" Î•º ÏïûÏóê Ï†ÅÏúºÎ©¥ ÏΩîÎìú Ïà®Í∏∞Í∏∞.**

|Data type|Format|Example|
|:--:|:--:|:--:|
|number|int, float|2, 2.0|
|string|charcter|'my way', '2'|
|list|[element1, element2, ...]|[1,2,4], ['Mary','Tom','Jane'|
|dictionary|{key: value}|{'English': 80, 'Korean':90}|
|tuple|(element1, element2, ...)|('zero', 0), ("Mon","Tue","Wed",...)

Note: integer (Ï†ïÏàò), floating (Ïã§Ïàò)

# Numbers

In [19]:
# This code will yield an error due to the data type.
#input() is string
age = input() #intÎ°ú Î∞îÍøîÏ§òÏïº Ìï®. Ï¶â, Ïà´ÏûêÎ°ú Ïù∏ÏãùÌïòÍ≤å.
print(age + 3)

3

TypeError: can only concatenate str (not "int") to str

In [20]:
age = input()
age = int(age)
print(age + 3)

3
6

# String

In [22]:
# An example of a string
name = input()
print(f"Hi, {name}!")

Yuna
Hi, Yuna!

In [23]:
# An example of a string
name = "Mary"
print(f"Hi, {name}!")

Hi, Mary!

In [30]:
mytext = """I am Yuna. I am a teacher."""

In [31]:
len(mytext) #number of character

26

In [32]:
words = mytext.split() #.split() splits strings by space (default)

print("Number of words: ",len(words))

Number of words:  7

In [33]:
sents = mytext.split(".")
print("Number of sentences: ",len(sents))

Number of sentences:  3

In [35]:
text = input("Paste your text here: ")
words = text.split()
sents = text.split(".")

print("1) N of string: ", len(text))
print("2) N of words: ", len(words))
print("3) N of sentences: ", len(sents))

Paste your text here:  A Fox one day spied a beautiful bunch of ripe grapes hanging from a vine trained along the branches of a tree. The grapes seemed ready to burst with juice, and the Fox's mouth watered as he gazed longingly at them.  The bunch hung from a high branch, and the Fox had to jump for it. The first time he jumped he missed it by a long way. So he walked off a short distance and took a running leap at it, only to fall short once more. Again and again he tried, but in vain.
1) N of string:  470
2) N of words:  96
3) N of sentences:  7

# List

In [36]:
# An example of a list
favorite_books = ["To Kill a Mockingbird", "1984", "The Great Gatsby"]
print("Favorite Books:", favorite_books)

# Accessing a list
print("First book: ", favorite_books[0])

Favorite Books: ['To Kill a Mockingbird', '1984', 'The Great Gatsby']
First book:  To Kill a Mockingbird

In [38]:
# Creating a list with some elements
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits.append("melon")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'melon']

In [39]:
# Accessing the first element
fruits[1]

'banana'

In [40]:
# Removing an element by value
# Creating a list with some elements
fruits = ["apple", "banana", "cherry"]
# Removeing using a remove function
fruits.remove("banana")
print(fruits)
# Removing an element by index
del fruits[0]  # Removes the first element

print(fruits)

['apple', 'cherry']
['cherry']

In [41]:
# Sorting a list without modifying the original list
fruits = ["cherry", "mango", "orange","apple", "banana"]
print("Original: ", fruits)
# Alphabetical order
sorted_fruits = sorted(fruits)
print("Sorted: ", sorted_fruits)

Original:  ['cherry', 'mango', 'orange', 'apple', 'banana']
Sorted:  ['apple', 'banana', 'cherry', 'mango', 'orange']

In [42]:
# decreasing order
sorted(fruits, reverse=True)

['orange', 'mango', 'cherry', 'banana', 'apple']

# Dictionary

In [61]:
# Dictionary with some data
person = {"name": "John", "age": 45, "city": "New York"}
print(person)

{'name': 'John', 'age': 45, 'city': 'New York'}

In [54]:
# Accessing value by key
name = person["name"]  # "John"
print(name)

John

In [62]:
age = person["age"]
print(age)

45

# üìó Markdown manual
#1. **First** __First__
##2. *Second* _Second_
###3.

- item 1
* Item 1
+ Item 3

[OpenAI](https://www.openai.com)

![This is an image](/path/to/image.jpg)
- in the () put path or url


> This is a blockquote.


`This is inline code`


````this is inline code````


    This is inline code


* To create a horizontal rule, use three or more asterisks (***), dashes (---), or underscores (___).


* To create a horizontal rule, use three or more asterisks (***), dashes (---), or underscores (___).

    Tables

    
| Header 1 | Header 2 | Header 3 |
|----------|----------|----------|
| Row 1    | Data     | Data     |
| Row 2    | Data     | Data     |

    


    Task Lists
To create a task list, start items with a dash and a space, followed by [ ] for an incomplete task or [x] for a completed task.